h1 {
    color: red;
}

.vjs-Luan__control-bar {
    position: absolute;
    width: 100%;
    bottom: 80px;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #790303;
    /* background-color: rgba(43, 51, 63, 0.7); */
}

.vjs-Luan__play-control {
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 4em;
    flex: none;
}

.vjs-Luan__play-control .vjs-Luan__icon-placeholder {
    font-family: VideoJS;
    font-weight: normal;
    font-style: normal;
}

.vjs-Luan__play-control .vjs-Luan__icon-placeholder::before {
    content: "\f101";
}

.vjs-Luan__play-control>.vjs-Luan__icon-placeholder:before {
    font-size: 3em;
    line-height: 1.67;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.vjs-Luan__play-control>.vjs-Luan__icon-placeholder:before {
    font-size: 3em;
    line-height: 1.67;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}